.cache
.idea
**/target
**/node_modules
**/build
**.env
flagen/**
ffd/**
data/raw/**
data/processed/**
notebooks/**/__pycache__
mart-trie-**.gv
mart-trie-**.json
mart-trie-**.pdf
*-map.html
py-utils/__pycache__
data/*/**
target
results/**
doc/issue.md
doc/method.md
scripts/**/__pycache__